.RData
.Rproj.user
.Rhistory
.Renviron

*.RDS
*.rds
*.mbtiles

.httr-oauth

docs

/src/*.o
/src/*.o-*
/src/*.d
/src/*.so
*.dll

inst/doc

/data-raw/shp
/data-raw/data_tables/old

*.geojson
.httr-oauth
